<div class="card card-outline-primary">

    <!-- #region Titulo -->
    <div class="card-header ">
      <h3 class="mb-0 card-te">{{peliculaEncontrada.nombre}}</h3>
    </div>
    <!-- #endregion -->

    <div class="card-body">
        <h2 class="mb-0 card-te">{{peliculaEncontrada.tipo}}</h2>
        <h2 class="mb-0 card-te">{{peliculaEncontrada.fechaEstreno}}</h2>
        <h2 class="mb-0 card-te">{{peliculaEncontrada.cantidadPublico}}</h2>
        <img src="../../../assets/img/{{peliculaEncontrada.foto}}.jpg" alt="" border=3 height=100 width=100>
    </div>
