<div class="container">
    <table class="table table-striped thead-light table-hover">
      <caption>Entidad Detalles</caption>
      <thead>
          <tr>
              <!-- <th>Id</th> -->
              <th>Titulo</th>
              <th>Genero</th>
              <th>Fecha de Estreno</th>
              <th>Cantidad de Publico</th>
              <th>Foto</th>
              <!-- <th>Phone</th>
              <th>Website</th> -->
              <!-- <th>Modificar</th> -->
              <th>Eliminar</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let entidad of listadoEntidades; index as i" [hidden]="!entidad.estado">
              <!-- <td> {{entidad.id}} </td> -->
              <td> {{entidad.nombre}} </td>
              <td> {{entidad.tipo}} </td>
              <td> {{entidad.fechaEstreno}} </td>
              <td> {{entidad.cantidadPublico}} </td>
              <td><img src="../../../assets/img/{{entidad.foto}}.jpg" alt="" border=3 height=100 width=100></td>
              <td><app-boton1 [seleccion]=entidad.id (onEliminar)="eliminar($event)"></app-boton1></td>
          </tr>
      </tbody>
    </table>
  </div>
